* {
    padding: 0;
    margin: 0;
    text-align: center;
}

li {
    list-style-type: none;
}

g {
    color: green;
}

y {
    color: rgb(228, 171, 12);
}

grey {
    color: rgb(211, 211, 211);
}

table {
    font-size: 20px;
}

.handshake {
    background-color: rgb(228, 204, 246)
}

.chello, .kex {
    background-color: rgb(192, 215, 242)
}

.shello, .data {
    background-color: rgb(248, 210, 210)
}

.fin {
    background-color: rgb(210, 210, 210)
}

.legend {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 3px;
}